.folder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;

}

.folder1, .folder2 {
  margin-top: 100px;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.folder1 img, .folder2 img {
  max-width: 100%;
  height: auto;
}

.folder1 h1, .folder2 h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.folder1 p, .folder2 p {
  margin: 10px 0;
}
.vid5{
  margin-top: 70px;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Apply some basic styles to the form */
form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #3e8e41;
}

/* Center the form horizontally */
#contact {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Style the "Verify" button */
#btn {
  background-color: #2196F3;
}

#btn:hover {
  background-color: #0b7dda;
}

/* Style the "Sign up" button */
#button {
  background-color: #4CAF50;
}

#button:hover {
  background-color: #3e8e41;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Cormorant+SC:wght@300;700&family=Hi+Melody&family=IM+Fell+English+SC&family=Monoton&family=Prata&family=Raleway:wght@100&family=Rubik+Puddles&family=Stylish&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
.container{
    /* border:1px solid black; */
    height: auto;
    background: url(899.webp);
    /* background-color: rgba(0,0,0,0.5); */
    background-size: cover;
    background-position:center;
    color: aliceblue;
    /* border:1px solid green; */
    
}

.box1{
    border:1px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0.5);
    height:37.8rem;
}
nav{
    position:fixed;
    width:100%;
    background-color: rgba(124, 21, 21, 0);
    font-family: 'Cormorant SC', serif;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_items , .left_items1{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
   
}
.left_items li a{
    text-decoration: none;
    margin-right: 2rem;
    color: aliceblue;
    letter-spacing: 1px;
}
.right_items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-right: 6rem;
    margin-left: 2rem;
}

#click{
    display: none;
}
.three{
    display: none;
    font-size: 2rem;
        /* border:1px solid blue; */
}
.right_items input{
  border-radius: 0.4rem;
  margin-right: 1rem;
  height: 1.5rem;
  
}
.right_items button{
    font-family: 'Cormorant SC', serif;
    border-radius: 0.4rem;
    background-color: rgba(0,0,0,0.1);
    border-color: aliceblue;
    color: aliceblue;
    width:4rem;
    height: 1.5rem;
    
}
.left , .right {
    /* border:1px solid  red; */
    height:7rem;
}
.right{
    width:9rem;
    margin-left: 2rem;
}
.lappi1{
    height:16rem;
    width:19rem;
    border-radius: 50%;
    border:2px solid rgb(86, 86, 217);
}
.mid_box{
    margin-top: 15rem;
    display: flex;
    margin-left: 20rem;
   display: flex;
   align-items: center;
}
.mid_box .left button{
    border-radius: 0.4rem;
    background-color: rgba(0,0,0,0.1);
    border-color: aliceblue;
    color: aliceblue;
    width:6rem;
    height: 1.8rem;
    margin-top: 0.8rem;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
}
.lapii{
    height:5rem;
    border-radius: 7rem;
    border:1.5px solid rgb(86, 86, 217);
}
button:hover{
    color:black;
    background-color: aliceblue;
    font-weight: bolder;
}
 .left .submit:hover{
    background-color: rgb(190, 68, 68);
    border:none;
    font-size: 0.9rem;
    font-weight: bolder;
    transition: 0.4s all ease;
}
a{
    display: inline-block;
    position: relative;
    color: 
  #bfced6;
}
 a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
  #d0dade;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* hr */
  hr{
    height:1rem;
    background-color:rgb(169, 159, 159);
    width:100%;
    /* border:1px solid black; */
    margin-top: 1rem ;
    margin-bottom: 1rem;
    
  }
  /* models */
  .models{
    display: flex;
    align-items: center;
  }
  .written{
    width:70%;
    height:16rem;
    padding:1rem;
   font-family: vary;
   /*background-color: var(--active-bg);*/
   scroll-behavior: smooth;
   overflow-y: hidden;
   transition: 0.3s ease-in;
   color: rgb(4, 4, 56);
   font-size: 1.2rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color:;
   animation: bg-pan 3s linear infinite;
}

  @font-face {
    font-family: 'Vary';
    src: url(./fonts/Vary-Light.otf);
}
  .image {
    width:30%;
    height:10rem;
    padding-left: 2rem;
    /* border:1px solid black; */
  }
  .laps{
    width:80%;
    height:100%;
    border:2px solid rgb(115, 122, 128);
    border-radius: 2rem;
  }
  @media (max-width:940px) {
    nav .menu_btn i{
        display: block;
    }
    #click:checked~ .menu_btn i:before{
        content:"\f00d";
    }
    #click:checked~ .left_items1{
        left: 0%;
    }
    .right_items,.right , #click{
        display: none;
    }
     nav .left_items1{
        position: fixed;
        top:4rem;
        left: -100%;
        background-color: rgba(0,0,0,0.5);
        /* background-color: #111; */
        height:vh;
        width: 100%;
        display: flex;
        text-align: right;
        
        transition: all 0.3s ease;
     }
     .three{
        display: block;
        /* margin-left: 100%; */
        /* margin-right:1%; */
     }
    .left_items1 {
        padding: 4rem;
        display: block;
        /* border: 2px solid red; */
        width:100%;
        font-size: 1.5rem;
    }
    .left_items1 li  {
        margin-bottom: 3rem;
    }
    .mid_box{
       display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
        margin-right: 1rem;
    }
     
    nav{
        display: inline;
        justify-content: space-between;
        width:100%;
        /* border:2px solid yellow; */
    }
     .menu_btn i{
       display: flex;
        /* float: right; */
        /* border:2px solid yellow; */
        /* margin-left: 21rem; */
    }
    /* models */
    .models{
        display: block;
        margin:auto;
    }
    .written{
        overflow: hidden;
        text-align: center;
        /* margin-left: 10%; */
        margin:auto;
    }
    .image{
        /* border:1px solid red; */
        padding:0;
        width:10rem;
        margin-top:1rem;
        margin-left: 15%;
        margin:auto;
    }
    .laps{
        width:100%;
        height:100%;
        
    }



}
#design{
    text-align: center;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(275, 91%, 17%);
    color: aliceblue;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
    font-size: 1.5rem;

}
/* Video player container */
video {
  width: 100%;
  height: auto;
}



video::-webkit-media-controls-volume-slider {
  width: 50%;
}

/* Progress bar */
video::-webkit-media-controls-timeline-container {
  margin: 0 10px;
}

video::-webkit-media-controls-timeline-progress-bar {
  background-color: white;
}

video::-webkit-media-controls-timeline-progress-bar::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-timeline-progress-bar::-webkit-media-controls-time-remaining-display {
  color: white;
  font-size: 12px;
}


