.folder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;

}

.folder1, .folder2 {
  margin-top: 135px;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.folder1 img, .folder2 img {
  max-width: 100%;
  height: auto;
}

.folder1 h1, .folder2 h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.folder1 p, .folder2 p {
  margin: 10px 0;
}
.vid5{
  margin-top: 70px;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
